extends ../layout

append scripts
  if search
    script!= "window.player = \"" + search.player + "\""
    script!= "window.team = \"" + search.team + "\""
    script!= "window.author = \"" + search.author + "\""
    script!= "window.newestTweet = " + search.newestTweet
    script!= "window.mode = \"" + search.mode + "\""

block main
  div#remoteTweetsButton
    p Get Remote Tweets

  div#playerProfile

  canvas#myChart(width="1200" height="400")

  div#tweetCount

  div#tweetList
